{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block extra_head %}
 <center>
        <h1>Lista de Usuarios</h1>
    </center>
{% endblock %}
{% block content %}

    {{ lines|pagination }}



 <table class="table table-bordered table-condensed" >
    <tr>
        <th class="navbar-inner">Nombre</th>
        <th class="navbar-inner">Etiqueta</th>
        <th class="navbar-inner">Modelo</th>
        <th class="navbar-inner">Accion</th>
    </tr>
    {% for dato in contenidos %}
    <tr>
	    <td >{{dato.name|capfirst}}</td>
        <td><em>{{dato.app_label}}</em></td>
        <td>{{ dato.model }}</td>
        <td> <a href="{%url 'demo_app.AdminPermisos.views.editar_contenido' dato.id %}">Editar</a>
        </td>

	</tr>
	{% endfor %}
 </table>


<br><br><br>



{% endblock %}